:root {
    --bg-color:  #FFFFFF;
    --main-color: #3670C7;
    --grey-light-color: #EFEFEF;
    --grey-dark-color: #8F8F8F;
    --promo-round-color: #FFBD13;
    --promo-blue-color: #38C0EB;
    --promo-pink-color: #F91155;
}